[mysqld]
server_id=1
binlog_format=row
log-bin=mysql-bin

# Only log `blog` DB
# Remove this line if you want to log everything.
# Or add a new line like this if you want to also log another specific DB
binlog_do_db=blog
